.login-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: var(--s);
    align-items: center;
    padding-inline: 4rem;
    padding-top: 4rem;


    .back-btn{
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #444;
        padding: 2px 10px;
        border-radius: 15px;
        font-weight: 200;
        font-size: .8rem;

        svg{
            height: 20px;
            width: 20px;
        }
    }

    .login-form {
        width: fit-content;
        display: flex;
        gap: 15px;
        flex-direction: column;
        min-width: 300px;

        .login-text{
            text-align: center;
            h2{
                color: #fff;
                font-weight: bold;
                font-size: 1.8rem;
            }
            h3{
                color: #999;
                font-size: .7rem;
            }
        }

        .login-btn{
            width: 100%;
            background-color: var(--t);
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            font-size: 16px;
        }

        .login-input{
            background-color: #444;

            display: flex;
            align-items: center;
            padding: .6rem;
            border-radius: .4rem;
            gap: 5px;
            color: #ccc;
            font-size: .9rem;

            svg{
                height: 20px;
                width: 20px;
                color: inherit;
            }

            input{
                color: inherit;
                background-color: inherit;
                outline: inherit;
                border: inherit;
                width: 100%;
                padding-inline: .3rem;
            }
            input::placeholder{
                color: #777;
            }
            input:-webkit-autofill, input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
            input[data-autocompleted] {
                background-color: transparent !important;
            }
        }

        .quick-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .7rem;
            color: #bbb;

            a{
                color: inherit;
                text-decoration: none;
                font-weight: 200;
                cursor: pointer;
                &:hover{
                    color: var(--t);
                }
            }
        }
    }

    .auth-footer{
        width: 100%;
        display: flex;
        border-top: 1px solid #333;
        color: #555;
        justify-content: center;
        font-size: .7rem;
        padding-block: 1rem .4rem;
        gap: 15px;
        a{
            color: inherit;
        }
    }
}