.p-info-container {
    align-items: flex-end;
    background-position: top;
    background-size: cover;
    background-image: url(https://staticg.sportskeeda.com/editor/2023/07/fde0c-16888913542123-1920.jpg);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 50px 50px 30px;
    position: relative;
    width: 100%
}
.p-info-container::before {
  background-color: rgba(0,0,0,.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99
}
.pro-img {
    align-items: flex-end;
    color: #fff;
    display: flex;
    height: 250px;
    justify-content: flex-start;
    width: 100%;
    z-index: 9999;
    margin-bottom: 0;
    & .features button {
      /* background-color: hsla(0,0%,100%,.9); */
      border: transparent;
      border-radius: 10px;
      color: #000;
      margin-right: 10px;
      outline: transparent;
      padding: 5px;
      & .icon {
        margin-right: 5px;
    }
    & svg{
      height: 24px;
      width: 24px;
    }
    }
}
.pro-img .imagess,.pro-img img {
  border-radius: 15px;
  height: 150px;
  margin-right: 15px;
  object-fit: cover;
  position: relative;
  width: 150px;
  z-index: 0
}
.pro-img h2 {
  font-weight: 800;
  text-transform: uppercase
}
.pro-img h2,.pro-img h6 {
  color: #fff;
  z-index: 9999
}
.pro-img .features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  overflow: hidden
}
@media screen and (max-width: 992px) {
  .pro-content,.pro-fav,.pro-img {
      align-items:center;
      justify-content: center;
      width: 100%
  }

  .pro-content {
      padding-bottom: 10px
  }

  .order-info,.package-container,.pro-desc-container {
      padding-bottom: 0;
      width: 100%;
  }

  .p-info-container {
      padding: 10px
  }

  .pro-img {
      align-items: flex-end;
      height: 180px;
  }

  .pro-img h2 {
      font-size: 15px;
      margin: 0
  }

  .pro-img img {
      height: 80px;
      width: 80px
  }

  .pro-img .features button {
      border-radius: 5px;
      font-size: 8px;
      margin-bottom: 5px;
      margin-right: 5px;
      padding: 2px;
      .icon {
          font-size: 10px
      }
      & svg{
        height: 10px;
        width: 10px;
      }
  }
}

.pro-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.pro-content h2 {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.pro-fav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.package-details {
  display: flex;
  /* background-color: var(--blue-50); */
  flex-wrap: wrap;
}
.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: 1.5rem;

  .item-container{
    width: 47%;
    border-radius: .2rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    transition: all .3s ease-in-out;

    .item-card{
      font-weight: bold;
      margin-top: 1rem;
      outline: 1px solid #777;
    }
  }
}

.package-container .active{
  transform: scale(1.02);
  .item-card{
    outline: 0;
    /* outline: 1px solid hsl(289, 74%, 84%); */
    background-color: var(--t);
    /* color: #000; */
  }
}

.amount {
  width: 48%;
  border-radius: 10px;
  padding: 20px 0;
  color: #fff;
  padding-left: 10px;
  background-color: var(--p);
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 .amount span {
  font-weight: 700;
}
.amount.active {
  border: 2px solid var(--blue-300);
  color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.order-info {
  width: 40%;
  padding: 50px;
  color: #fff;
}
.pack-info {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.pack-info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.related-games {
  color: #fff;
  padding: 50px;
  padding-top: 0;
}

.p-check-btn {
  font-weight: bold;
  border: none;
  width: 100%;
  padding-block: .5rem;
  margin-top: 1rem;
  background-color: var(--blue-500);
  /* color: #eee; */
  border-radius: .2rem;
  /* border-radius: .5rem;
  background-color: var(--t);
  color: #000;
  font-weight: 800;
  padding: 10px 20px;
  width: 100%;
  margin-top: 10px; */
}

.cart {
  display: flex;
  justify-content: space-between;
}
.cart-icon {
  position: relative;
}
.cart-icon span {
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: var(--t);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.cart .icon {
  font-size: 30px;
}
.del-icon {
  color: var(--t);
  cursor: pointer;
}

/* ====================== PAYMENT  */
/* ====================== PAYMENT  */
/* ====================== PAYMENT  */
.payment {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.payment .wallet.active {
  background-color: var(--t);
  color: #000;
}
.payment .upi.active {
  background-color: var(--t);
  color: white;
}
.payment h4 {
  font-size: 20px;
}
.wallet,
.upi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.wallet .icon {
  font-size: 30px;
}
.payment img {
  width: 100px;
}

@media screen and (max-width: 992px) {
  .pro-content,
  .pro-fav,
  .pro-img {
    width: 100%;
    justify-content: center;
  }
  .pro-content {
    padding-bottom: 10px;
  }
  /* package  */
  .order-info,
  .pro-desc-container {
    width: 100%;
    padding-bottom: 0;
  }
  .pro-desc-container {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 786px) {
  /* package  */
  .order-info,
  .pro-desc-container {
    width: 100%;
    padding: 50px 20px;
    padding-bottom: 0;
  }
}

/* ================================================================================ */

.product-info-container {
  padding: 80px 150px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  /* background-color: var(--s); */
  color: #fff;
}
.product-info-img-slider {
  width: 7%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-info-img-slider img {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  object-fit: cover;
}
.product-info-img {
  width: 30%;
  height: 350px;
}
.product-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.product-info-content select {
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 0;
  width: 50%;
}

.product-info-content h3 {
  text-transform: uppercase;
}
.add-to-cart-btn {
  width: 50%;
  /* background-color: var(--s); */
  color: #fff;
  padding: 10px;
  outline: transparent;
  border: transparent;
  margin-top: 10px;
  border: 1px solid white;
  &:hover {
    opacity: 0.8;
  }
}
.safe-checkout-img {
  width: 35%;
  margin-top: 10px;
}
.product-desc-delivery-details {
  padding: 50px 20px;
}
.tab-btns-desc {
  display: flex;
}
.tab-btns-desc .tab {
  padding: 10px;
  text-align: center;
  width: 50%;
  background-color: #eee;
  cursor: pointer;
}
.tab-btns-desc .tab.active {
  background-color: #ebef29;
}
.product-info-details {
  margin-top: 20px;
  min-height: 250px;
}

.p-amount {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .product-info-container {
    padding: 50px 20px;
  }
  .product-info-img-slider {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }
  .product-info-img-slider img {
    width: 20%;
    margin-right: 10px;
  }
  .product-info-img {
    width: 100%;
  }
  .product-info-content {
    width: 100%;
    padding-left: 0;
  }
  .select-brand select {
    width: 100%;
  }
  .add-to-cart-btn {
    width: 100%;
  }
  .safe-checkout-img {
    width: 100%;
  }
  .product-info-content select {
    width: 100%;
  }
}

/* ======================= EFFECT */
.area {
  position: relative;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.1); */
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* ========================================================= BG EFFECT  */
/* Uday CSS */

.product-page-wrapper{
  margin-inline: 12rem;
  padding-top: 2rem;
}

.game-box{
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  background: #2285E2;
  background: linear-gradient(160deg, #0084ffca, #4992b7);

  & > *{
    width: 50%;
    padding: 2rem 4rem;
  }
  .game-banner{
    background-image: repeating-linear-gradient(-45deg,rgba(195, 195, 195, 0.05) 67px, rgba(195, 195, 195, 0.05) 87px,rgba(121, 121, 121, 0) 87px, rgba(121, 121, 121, 0) 133px,rgba(250, 250, 250, 0.05) 133px, rgba(250, 250, 250, 0.05) 172px, rgba(106, 106, 106, 0.05) 197px,rgba(151, 151, 151, 0.05) 197px, rgba(219, 219, 219, 0.05) 226px, rgba(219, 219, 219, 0) 260px),repeating-linear-gradient(-45deg, rgba(70, 70, 70, 0.05) 0px, rgba(220, 220, 220, 0.05) 79px,rgba(95, 95, 95, 0.05) 79px, rgba(95, 95, 95, 0.05) 103px,rgba(15, 15, 15, 0.05) 103px, rgba(15, 15, 15, 0.05) 148px, rgba(51, 51, 51, 0.05) 186px,rgba(225, 225, 225, 0.05) 186px, rgba(225, 225, 225, 0.05) 202px,rgba(60, 60, 60, 0.05) 202px, rgba(67, 67, 67, 0) 239px, rgba(67, 67, 67, 0.05) 259px),repeating-linear-gradient(-45deg, rgba(146, 146, 146, 0) 0px, rgba(166, 166, 166, 0.05) 40px, rgba(166, 166, 166, 0.05) 54px,rgba(156, 156, 156, 0.05) 54px, rgba(156, 156, 156, 0.05) 71px,rgba(134, 134, 134, 0.05) 71px, rgba(77, 77, 77, 0.05) 95px, rgba(77, 77, 77, 0.05) 111px,rgba(26, 26, 26, 0.05) 111px, rgba(46, 46, 46, 0.05) 202px,rgba(197, 197, 197, 0.05) 202px, rgba(197, 197, 197, 0) 216px),linear-gradient(-80deg, rgb(93, 144, 227),rgb(0, 81, 203));
    display: flex;
    gap: 2rem;
    border-radius: 1.5rem;

    .info{
      padding-block: 5rem;
      text-align: center;
      place-content: center;
      img{
        min-height: 75px;
        min-width: 75px;
        max-height: 75px;
        max-width: 75px;
        border-radius: 1rem;
      }
      .name{
        margin-top: 1rem;
        color: #fff;
        font-size: .7rem;
        font-weight: 800;
      }
    }

    .instructions{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .5rem;

      .heading{
        font-size: 1.2rem;
        color: #fff;
        font-weight: 700;
      }

      .steps{
        display: flex;
        gap: .5rem;
        align-items: center;
        font-size: .8rem;
        font-weight: bold;
        color: #fff;

        div{
          font-size: .8rem;
          font-weight: bolder;
          border-radius: .4rem;
          text-align: center;
          place-content: center;
          background-color: rgba(255 255 255 / 5%);
          color: inherit;
          min-height: 36px;
          min-width: 36px;
        }
      }
    }
  }

  .game-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;

    .heading{
      font-size: 1.2rem;
      font-weight: bolder;
      color: #fff;
      display: flex;
      gap: .5rem;
      align-items: center;
      svg{
        fill: rgba(29, 30, 34, 0.787);
        height: 30px;
      }
    }

    .p-check-btn{
      font-size: .8rem;
      padding-block: .7rem;
      font-weight: bold;
      margin-inline: auto;
      width: 40%;
      color: #fffd;
      border: none;
      outline: none;
      background-color: #0062ff;
      border-radius: .4rem;
    }

    .p-check-btn:active{
      transform: scale(.97);
    }
  }
}

.user-info-input{
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  border-radius: 1.4rem;
  align-items: center;

  svg{
    stroke: #1c1d255f;
    max-height: 25px;
  }
  input{
    background: transparent;
    height: 50px;
    color: var(--p);
    font-weight: 600;
    padding-inline: 1rem;
    flex-grow: 1;
    overflow: 0;
    border: 0;
  }
  input:focus, input:active, input:valid{
    background: transparent;
    outline: none;
  }

  select, select:focus, .select:active{
    font-weight: 600;
    background-color: #ffffff00;
    border: none;
    outline: none;
    flex-grow: 1;
    padding-inline: 1rem;
    border-bottom: 2px solid var(--primary-200);
  }

  input::-moz-placeholder {
    color: #0000002e;
  }
  input:-moz-placeholder {
    color: #0000002e;
    font-size: 14px !important;
  }
  *::-webkit-input-placeholder {
    color: #0000002e;
    font-size: 14px !important;
  }
  *:-ms-input-placeholder {
    color: #0000002e;
    font-size: 14px !important;
  }
  *:-moz-placeholder {
    color: #0000002e;
    font-size: 14px !important;
  }
}

.verified-info{
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-radius: 1.4rem;
  font-size: .8rem;

  .label{
    /* color: #fff; */
  }

  .verfied-username{
    font-size: .7rem;
    color: rgba(0, 155, 0, 0.895);
    flex-grow: 1;
  }

  button{
    border-radius: 0 1.2rem 1.2rem 0;
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: #0062ff;
  }
}

.package-tab-container{
  width: 100%;
  overflow-x: scroll;
  text-transform: capitalize;

  .tab-title{
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    padding-bottom: .8rem;
  }
}
.tab-container::-webkit-scrollbar{
  display: none;
}
.tab-container{
  overflow-x: scroll;
  display: flex;
  text-align: center;
  font-weight: 800;
  scrollbar-width: none;
  gap: .5rem;

  .tab-card{
    padding: .8rem;
    font-size: .8rem;
    border-radius: .5rem;
    background-color: hsla(0, 0%, 100%, 0.952);
    border: 1px solid var(--primary-300);

    p{
      color: var(--primary-400);
      margin: 0;
    }

    img{
      margin-inline: 2.5rem;
      object-fit: contain;
      max-height: 30px;
      max-width: 60px;
      min-height: 30px;
      min-width: 60px;
    }
  }
}

.tab-container .tab-active{
  color: #fff;
  background-color: #464bd8;
  border: 1px solid var(--secondary-200);

  p{
    color: #fff;
  }
}

.checkout-container{
  padding: 1rem;
  width: 100%;

  .pro-desc {
    /* background-color: #fff; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 400;
    border-radius: 10px;
    padding: 2rem;
    
    span{
      white-space: pre-line;
    }
  }
}

.mlbb-help-modal{
  background-color: rgba(0, 0, 0, 0.751);

  .modal-dialog{
    top: 25%;
    .modal-content{
      padding: .5rem;
      background-color: var(--p);
      gap: .5rem;

      .modal-title{
        margin-inline: auto;
        text-align: center;
        color: #bbb;
        font-weight: 800;
      }
      
      img{
        border-radius: 0 0 .2rem .2rem;
        /* padding: .8rem; */
      }
      .modal-header{
        border: 0;
        padding: .5rem 0;
        background-color: transparent;
        justify-content: space-between;
        .modal-close{
          height: 25px;
          stroke: #ddd;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .product-page-wrapper{
    margin-inline: 1.5rem;
  }
  .game-box{
    flex-direction: column;
    
    & > *{
      width: 100%;
      padding: 1.5rem 1rem;
    }

    .game-banner{
      gap: .8rem;
      .info{
        padding: 0;
        .name{
          font-size: .6rem;
        }
      }
      .instructions{
        .heading{
          font-size: 1rem;
          font-weight: bold;
        }
        .steps{
          font-size: .6rem;
        }
      }
    }
  }
}