.support-form{
    padding: 1.5rem 5%;
    color: rgb(243, 243, 243);

    input, textarea, input:active, textarea:active, input:focus, textarea:focus{
        outline: 0;
        border-radius: 2px;
        background-color: var(--p);
        color: var(--text-light);
    }

    input:active, textarea:active, input:focus, textarea:focus{
        border-color: white;
        background-color: #333;
        box-shadow:none;
    }

    label{
        font-weight: 700;
    }

    .submit{
        background-color: var(--t);
        color: white;
        font-weight: bold;
        width: 100%;
        border-radius: 2px;
    }
}