.quick-actions{
  /* top: -8px; */
  position: relative;
  margin: 0 1rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  .quick-action-card{
    cursor: pointer;
    font-weight: bold;
    font-size: .8rem;
    padding-block: 5px 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #121212; */
    color: #ddd;

    .icon{
      height: 60px;
      width: 60px;
    }
  }
  .quick-action-card:active{
    transform: scale(0.99);
  }
}