.header {
  /* position: relative !important; */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  /* position: absolute; */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header-top {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header-main {
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: .5rem 1rem;

  .wallet{
    margin-left: auto;
    display: flex;
    padding: 3px 0 3px 6px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: #121212;
    
    .arrow{
      color: var(--t3);
    }

    .balance{
      font-size: .8rem;
      font-weight: bold;
    }

    .icon{
      height: 30px;
      width: 30px;
    }
  }
}
.logo {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  cursor: pointer;
  color: white;
  gap: 5px;

  .logo-icon{
    margin-block: auto;
    height: 24px;
    width: 35px;
  }

  .name{
    font-size: 1.2rem;
    font-weight: bolder;
    span{
      color:var(--t);
    }
  }
}


.menus ul {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.menus li {
  list-style: none;
}
.menus a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.action-btns {
  display: flex;
  justify-content: right;
  align-items: end;
  gap: 10px;
}
.action-btns .icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.login-btn {
  background-color: var(--t);
  padding: .25rem .5rem;
  color: #fff;
  margin-left: auto;
  border-radius: 5px;
  font-weight: bold;
  outline: transparent;
  opacity: .9;
  border: 0;
  &:hover {
    opacity: 0.8;
  }
}
.request-btn {
}
.upgrade-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: transparent;
  margin: 0;
}
.help-menu {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0 20px;
}
.menu-img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.menu-img-container {
  position: relative;
}
.img-hover-menu {
  position: absolute;
  top: 100%;
  right: 0;
}
/* ================================== */
.burger-icon .icon {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}

.sub-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.sub-header ul {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.sub-header ul li {
  width: 100%;
  width: auto;
}
.sub-header ul li a {
  color: #333;
  position: relative;
}
.sub-header a.active {
  background-color: #eee;
  padding: 5px;
}

/* ================================= LOGOUT TIPPY  */
.logout-tippy {
  width: 100%;
  padding: 20px 10px;
}
.logout-tippy .icon {
  font-size: 20px;
  color: #333;
  margin: 5px 0;
}
.section-1,
.section-2,
.section-3 {
  cursor: pointer;
}
.section-2 {
  padding-bottom: 10px;
}
.section-3 {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.section-3 button {
  padding: 10px;
  background-color: #26bd68;
  color: #fff;
  outline: transparent;
  border: transparent;
  margin-top: 10px;
}

/* .wallet-cont {
  background-color: var(--s);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.wallet-cont .icon {
  color: #fff;
} */

/* ================================= LOGOUT TIPPY ENDS */

/* ================================== */
@media screen and (max-width: 1212px) {

}
@media screen and (max-width: 1100px) {
 
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {

}
