.scroller{
    overflow: hidden;
    max-width: 100vw;
    max-width: 100dvw;
    position: relative;
    height: 3.5rem;
    font-weight: 900;
    /* background-color: var(--primary-50); */
    background-color: yellow;
    color: black;
    /* border: 2px solid var(--primary-100); */
}

.item{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2.8rem;
    white-space: nowrap;
    position: absolute;
    left: 100%;
    animation-name: scroll;
    --_scroll_duration: 15s;
    animation-duration: var(--_scroll_duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight: 900;
    /* color: var(--primary-600); */
    color: black;
    font-weight: 900;
    gap: .5rem;
    font-size: 1rem;
    span {
        font-weight: 900;
        color: black;
        font-weight: inherit;
        font-size: inherit;
    }
    a{
        color: black;
        font-weight: inherit;
        font-size: inherit;
    }

    svg{
        /* fill: var(--primary-700); */
        fill: black;
    }
}

/*   (animation-duration / total items (total items - delay) * -1)    */
.item-1{
    animation-delay: calc(var(--_scroll_duration) / 3 * (3 - 1) * -1);
}
.item-2{
    animation-delay: calc(var(--_scroll_duration) / 3 * (3 - 2) * -1)
}
.item-3{
    animation-delay: calc(var(--_scroll_duration) / 3 * (3 - 3) * -1)
}
@keyframes scroll{
    to {
        left: -120ch;
    }
}