.footer{
  padding-block: 30px 70px;
  padding-inline: 3rem;
  background-color: #101010;
  color: #999;
  font-size: 10px;

  .container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-icons{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
  }

  .footer-links{
    color: #bbb;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .footer-info{
    color: #999;
  }

  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 1000px) {
  .footer{
    padding-inline: 1rem;
    .container-top{
      flex-direction: column;
    }
    .footer-links{
      padding-inline: 15%;
    }
  }
}